<div class="section">

    <div class="row">


        <div class="col s12">

            <div class="row">
                <div class="col s12">
                    <h5>Novo Pedido</h5>
                </div>
            </div>

            <!--div class="row" *ngIf="itensSelecionados.length">
                <div class="col s12">
                    <h6>Itens Selecionados</h6>

                    <ul class="collection">
                        <li class="collection-item" *ngFor="let is of itensSelecionados">
                            <div class="row" style="margin-bottom: 0">
                                <div class="col s12">
                                    <span class="title">
                                        <input type="text" [(ngModel)]="is.quantidade" appOnlyNumber="true">
                                        {{ is.unidade.sigla }} de <strong>{{ is.nome }}</strong>
                                        <a class="btn-small btn-flat right" (click)="removeItem(is)">
                                            <i class="material-icons red-text text-darken-2">delete_forever</i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 0">
                                <div class="col m6 s12">
                                    <small>{{ is.detalhes.slice(0, 30) }}</small>
                                </div>

                                <div class="col m3 s6">
                                    <small>Valor Un.: R$ {{ is.valor | number:'1.2'}}</small>
                                </div>

                                <div class="col m3 s6 right-align">
                                    <small>Subtotal: <strong>R$ {{ (is.valor * is.quantidade) | number:'1.2'}}</strong></small>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <button class="btn-small waves-effect primary-color right" (click)="fecharPedido()">Fechar Pedido
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div-->


            <div class="row">
                <!-- <div class="input-field col m6 s12">
                    <i class="material-icons prefix">calendar_today</i>
                    <input id="data" type="text" class="datepicker">
                    <label for="data">Data</label>
                </div> -->

                <div class="input-field col m6 s12">
                    <i class="material-icons prefix">calendar_today</i>
                    <input [(ngModel)]="data" id="data" type="text">
                    <label for="data" class="active">Data (dd/mm/aaaa)</label>
                </div>

                <div class="input-field col m6 s12">
                    <i class="material-icons prefix">access_time</i>
                    <input id="hora" type="text" class="timepicker">
                    <label for="hora" class="active">Hora</label>
                </div>

            </div>


            <div *ngIf="!showFormCliente">
                <div class="row">

                    <div class="col m6 s12 input-field">
                        <i class="material-icons prefix">phone</i>
                        <input type="text" id="telefoneFiltro" [(ngModel)]="telefoneFiltro"
                            (input)="onFiltroTelefoneChange(telefoneFiltro)">
                        <label for="telefoneFiltro">Telefone</label>
                    </div>

                </div>
                <div class="row">
                    <div class="col s12">
                        <a class="btn primary-color" (click)="novoCliente()">Novo Cliente</a>
                    </div>
                </div>
            </div>


            <div class="row" *ngIf="clientes?.length > 0">
                <app-card-cliente *ngFor="let cliente of clientes" [cliente]="cliente" [showSelectOption]="true"
                    (selectCliente)="selecionaCliente($event)" class="col l4 m6 s12"></app-card-cliente>
            </div>

            <div class="row" *ngIf="showFormCliente">
                <div class="row">
                    <div class="col s12">
                        <div class="card-panel">
                            <h6>Cliente</h6>
                            <div class="row">
                                <div class="col s12">

                                    <br>
                                    <div class="row" *ngIf="pedido?.cliente?._id">
                                        <div class="col">
                                            <label for="atualizarCliente">
                                                <input type="checkbox" id="atualizarCliente"
                                                    [(ngModel)]="atualizarCliente" />
                                                <span>Atualizar dados do cliente?</span>
                                            </label>
                                        </div>
                                    </div>

                                    <p>Dados Pessoais</p>

                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="nome" type="text" [(ngModel)]="pedido.cliente.nome"
                                                #ngModel="ngModel">
                                            <label for="nome" [class.active]="pedido?.cliente?.nome">Nome</label>
                                            <app-validator-message controlName="Nome" [control]="ngModel">
                                            </app-validator-message>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col m6 s12">
                                            <input id="telefone1" type="text" [(ngModel)]="pedido.cliente.fone1"
                                                mask="(00) 00009-0000" #ngModel="ngModel">
                                            <label for="telefone1" [class.active]="pedido?.cliente?.fone1">Telefone
                                                1</label>
                                            <app-validator-message controlName="Telefone 1" [control]="ngModel">
                                            </app-validator-message>
                                        </div>


                                        <div class="input-field col m6 s12">
                                            <input id="telefone2" type="text" [(ngModel)]="pedido.cliente.fone2"
                                                mask="(00) 00009-0000" #ngModel="ngModel">
                                            <label for="telefone2" [class.active]="pedido?.cliente?.fone2">Telefone
                                                2</label>
                                            <app-validator-message controlName="Telefone 2" [control]="ngModel">
                                            </app-validator-message>
                                        </div>
                                    </div>

                                    <!-- <div class="row">
                                        <div class="input-field col s12">
                                            <textarea id="observacoes" class="materialize-textarea"
                                                [(ngModel)]="pedido.cliente.observacoes" #ngModel="ngModel"></textarea>
                                            <label for="observacoes"
                                                [class.active]="pedido?.cliente?.observacoes">Observações sobre o
                                                cliente</label>
                                            <app-validator-message controlName="Observações" [control]="ngModel">
                                            </app-validator-message>
                                        </div>
                                    </div> -->

                                </div>
                            </div>

                            <div class="row">

                                <div class="col s12">

                                    <div class="row">
                                        <div class="col">
                                            <label for="entregar">
                                                <input type="checkbox" id="entregar" [(ngModel)]="pedido.entregar" />
                                                <span>Entregar?</span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="row" *ngIf="pedido.entregar">
                                        <div class="col s12">
                                            <p>Endereço</p>

                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input id="rua" type="text" [(ngModel)]="pedido.enderecoEntrega.rua"
                                                        #ngModel="ngModel">
                                                    <label for="rua"
                                                        [class.active]="pedido?.enderecoEntrega?.rua">Rua</label>
                                                    <app-validator-message controlName="Rua" [control]="ngModel">
                                                    </app-validator-message>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="input-field col s8">
                                                    <input id="bairro" type="text"
                                                        [(ngModel)]="pedido.enderecoEntrega.bairro" #ngModel="ngModel">
                                                    <label for="bairro"
                                                        [class.active]="pedido?.enderecoEntrega?.bairro">Bairro</label>
                                                    <app-validator-message controlName="Bairro" [control]="ngModel">
                                                    </app-validator-message>
                                                </div>

                                                <div class="input-field col s4">
                                                    <input id="numero" type="number"
                                                        [(ngModel)]="pedido.enderecoEntrega.numero" #ngModel="ngModel">
                                                    <label for="numero"
                                                        [class.active]="pedido?.enderecoEntrega?.numero">Número</label>
                                                    <app-validator-message controlName="Número" [control]="ngModel">
                                                    </app-validator-message>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <a class="btn primary-color" (click)="trocarCliente()">Escolher outro Cliente</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="section"></div>

            <div *ngIf="showFormCliente">
                <!-- <div> -->
                <div class="row">
                    <div class="col m9 s12">
                        <a class="btn primary-color m-r-s m-t-m" (click)="fecharPedido()" *ngIf="habilitaFecharPedido">{{ edicao ? 'Salvar Alterações' : 'Fechar
                            Pedido' }}</a>
                        <a class="btn red darken-2 m-t-m" *ngIf="!edicao" (click)="cancelarPedido()">Cancelar Pedido</a>
                    </div>
                    <div class="col m3 s12">
                        <a class="btn orange darken-3 right m-t-m" id="btnOutros" (click)="addItemForaCardapio()">Outros</a>
                    </div>
                </div>

                <div class="row" *ngIf="diversos.length">

                    <div class="col s12">

                        <h6>Outros</h6>

                        <div class="row">
                            <div class="col m6 s12" *ngFor="let item of diversos">
                                <app-card-cardapio [item]="item" [showAddOption]="true">
                                </app-card-cardapio>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="row">

                    <div class="col m6 s12">

                        <h6>Salgados de Festa</h6>

                        <div class="row">
                            <div class="col s12" *ngFor="let item of salgadosFesta">
                                <app-card-cardapio [item]="item" [showAddOption]="true">
                                </app-card-cardapio>
                            </div>
                        </div>

                    </div>


                    <div class="col m6 s12">

                        <h6>Salgados Comerciais</h6>

                        <div class="row">
                            <div class="col s12" *ngFor="let item of salgadosComerciais">
                                <app-card-cardapio [item]="item" [showAddOption]="true">
                                </app-card-cardapio>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col">
                        <a class="btn primary-color m-r-s m-t-m" (click)="fecharPedido()" *ngIf="habilitaFecharPedido">{{ edicao ? 'Salvar Alterações' : 'Fechar
                                    Pedido' }}</a>
                        <a class="btn red darken-2 m-t-m" (click)="cancelarPedido()"
                            *ngIf="!edicao">Cancelar Pedido</a>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>

<app-item-modal [open]="itemPersonalizadoModal" (saveItem)="addItem($event)"></app-item-modal>