.title input {
    width: 28px;
    margin: 0;
    height: initial;
    padding: 2px 0;
}

.title small {
    font-size: 80%;
}

strong {
    font-weight: 600;
}

.title a {
    padding: 0px;
}

.title a i {
    padding: 0px;
}
.title a:hover {
    background: initial;
}