<div class="section">

  <div class="row">


    <div class="col s12">
      <div class="row">
        <div class="col s12">
          <h5>Pedidos</h5>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <a class="btn waves-effect waves-light m-r-m m-t-m" routerLink="/pedidos/novo">
            <i class="material-icons left">add</i> Novo Pedido
          </a>
          <a class="btn waves-effect primary-color m-r-m m-t-m" routerLink="/pedidos/agenda">
            <i class="material-icons left">calendar_today</i> Agenda
          </a>
          <a class="btn waves-effect orange darken-3 m-t-m" routerLink="/pedidos/agrupados">
            <i class="material-icons left">list</i> Total de Salgados do Dia
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h6>{{ pedidos && pedidos.length ? 'Pedidos do Dia' : 'Não há pedidos para hoje' }}</h6>
        </div>
      </div>

      <p>{{ pedidosFesta.length ? 'Pedidos de Festa' : 'Não há pedidos de festa para hoje até o momento' }}</p>
      <div class="row">
        <div *ngFor="let pedido of pedidosFesta" class="col s12">
          <app-card-agenda [pedido]="pedido" [mostrarRestaurar]="false" [oneColumn]="false"
            (editPedido)="editPedido($event)" (pagamento)="atualizaPedido($event)"
            (deletePedido)="deletePedido($event)"></app-card-agenda>
        </div>
      </div>

      <p>{{ pedidosComerciais.length ? 'Pedidos Comerciais' : 'Não há pedidos comerciais para hoje até o momento' }}</p>
      <div class="row">
        <div *ngFor="let pedido of pedidosComerciais" class="col s12">
          <app-card-agenda [pedido]="pedido" [mostrarRestaurar]="false" [oneColumn]="false"
            (editPedido)="editPedido($event)" (pagamento)="atualizaPedido($event)"
            (deletePedido)="deletePedido($event)"></app-card-agenda>
        </div>
      </div>

    </div>

  </div>

</div>

<app-senha-modal [open]="openModalSenha" (confirmar)="confirmarExclusao($event)"></app-senha-modal>