<div class="section">

    <div class="row">


        <div class="col s12">

            <div class="row">
                <div class="col s12">
                    <h5>Cardápio</h5>
                </div>
            </div>


            <div class="row">
                <div class="col s12">
                    <a class="btn waves-effect waves-light m-t-m" [routerLink]="['/cardapio/novo']">
                        <i class="material-icons left">add</i> Novo Item
                    </a>
                </div>
            </div>

            <form [formGroup]="formFiltroCardapio">

                <div class="row">
                    <div class="col s12 input-field">
                        <input type="text" id="pesquisarInput" formControlName="filtro">
                        <label for="pesquisarInput">Pesquisar...</label>
                    </div>
                </div>

            </form>


            <div class="row">
                <div class="col m4 s12">
                    <h6>Salgados de Festa</h6>
                    <div class="row" *ngIf="salgadosFesta && salgadosFesta.length; else nenhumSalgadoFesta">
                        <div class="col s12">
                            <ul class="collection">
                                <li class="collection-item avatar" *ngFor="let item of salgadosFesta">
                                    <span class="title">{{ item.nome }}</span>
                                    <p><span *ngIf="item.detalhes">{{ item.detalhes }}<br></span>
                                        <strong>R$ {{ item.valor | number:'1.2-2' }}</strong>
                                    </p>
                                    <a (click)="edit(item)" class="secondary-content"><i
                                            class="material-icons">edit</i></a>
                                    <a (click)="delete(item)" class="secondary-content red-text text-darken-2"
                                        style="right: 48px;"><i class="material-icons">delete_forever</i></a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <ng-template #nenhumSalgadoFesta>
                        <p>Nenhum salgado de festa encontrado.</p>
                    </ng-template>
                </div>

                <div class="col m4 s12">
                    <h6>Salgados Comerciais</h6>
                    <div class="row"
                        *ngIf="salgadosComerciais && salgadosComerciais.length; else nenhumSalgadoComercial">
                        <div class="col s12">
                            <!-- <app-card-cardapio [item]="item" [showAddOption]="false" [showEditOption]="true"
                                [showFavoriteButton]="false" (deleteItem)="delete($event)" (editItem)="edit($event)">
                            </app-card-cardapio> -->
                            <ul class="collection">
                                <li class="collection-item avatar" *ngFor="let item of salgadosComerciais">
                                    <span class="title">{{ item.nome }}</span>
                                    <p><span *ngIf="item.detalhes">{{ item.detalhes }}<br></span>
                                        <strong>R$ {{ item.valor | number:'1.2-2' }}</strong>
                                    </p>
                                    <a (click)="edit(item)" class="secondary-content"><i
                                            class="material-icons">edit</i></a>
                                    <a (click)="delete(item)" class="secondary-content red-text text-darken-2"
                                        style="right: 48px;"><i class="material-icons">delete_forever</i></a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <ng-template #nenhumSalgadoComercial>
                        <p>Nenhum salgado comercial encontrado.</p>
                    </ng-template>
                </div>

                <div class="col m4 s12">
                    <h6>Diversos</h6>
                    <div class="row"
                        *ngIf="diversos && diversos.length; else nenhumDiverso">
                        <div class="col s12">
                            <ul class="collection">
                                <li class="collection-item avatar" *ngFor="let item of diversos">
                                    <span class="title">{{ item.nome }}</span>
                                    <p><span *ngIf="item.detalhes">{{ item.detalhes }}<br></span>
                                        <strong>R$ {{ item.valor | number:'1.2-2' }}</strong>
                                    </p>
                                    <a (click)="edit(item)" class="secondary-content"><i
                                            class="material-icons">edit</i></a>
                                    <a (click)="delete(item)" class="secondary-content red-text text-darken-2"
                                        style="right: 48px;"><i class="material-icons">delete_forever</i></a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <ng-template #nenhumDiverso>
                        <p>Nenhum item diverso encontrado.</p>
                    </ng-template>
                </div>
            </div>

        </div>


    </div>
</div>

<app-confirmacao-modal [open]="openModalConfirmacao" (confirmar)="confirmarExclusao($event)"></app-confirmacao-modal>