<div class="section">

    <div class="row">


        <div class="col s12">

            <div class="row">
                <div class="col s12">
                    <h5>Cardápio</h5>
                </div>
            </div>


            <div class="row">
                <div class="col s12">
                    <a class="btn waves-effect waves-light m-t-m" [routerLink]="['/cardapio/novo']">
                        <i class="material-icons left">add</i> Novo Item
                    </a>
                </div>
            </div>

            <form [formGroup]="formFiltroCardapio">

                <div class="row">
                    <div class="col s12 input-field">
                        <input type="text" id="pesquisarInput" formControlName="filtro">
                        <label for="pesquisarInput">Pesquisar...</label>
                    </div>
                </div>

            </form>


            <div class="row">
                <div class="col m4 s12">
                    <h6>Salgados de Festa</h6>
                    <div class="row" *ngIf="salgadosFesta && salgadosFesta.length; else nenhumSalgadoFesta">
                        <div class="col s12">
                            <ul class="collection">
                                <li class="collection-item avatar" *ngFor="let item of salgadosFesta">
                                    <app-cardapio-item [item]="item" (excluir)="delete($event)" (editar)="edit($event)"></app-cardapio-item>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <ng-template #nenhumSalgadoFesta>
                        <p>Nenhum salgado de festa encontrado.</p>
                    </ng-template>
                </div>

                <div class="col m4 s12">
                    <h6>Salgados Comerciais</h6>
                    <div class="row"
                        *ngIf="salgadosComerciais && salgadosComerciais.length; else nenhumSalgadoComercial">
                        <div class="col s12">
                            <ul class="collection">
                                <li class="collection-item avatar" *ngFor="let item of salgadosComerciais">
                                    <app-cardapio-item [item]="item" (excluir)="delete($event)" (editar)="edit($event)"></app-cardapio-item>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <ng-template #nenhumSalgadoComercial>
                        <p>Nenhum salgado comercial encontrado.</p>
                    </ng-template>
                </div>

                <div class="col m4 s12">
                    <h6>Diversos</h6>
                    <div class="row"
                        *ngIf="diversos && diversos.length; else nenhumDiverso">
                        <div class="col s12">
                            <ul class="collection">
                                <li class="collection-item avatar" *ngFor="let item of diversos">
                                    <app-cardapio-item [item]="item" (excluir)="delete($event)" (editar)="edit($event)"></app-cardapio-item>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <ng-template #nenhumDiverso>
                        <p>Nenhum item diverso encontrado.</p>
                    </ng-template>
                </div>
            </div>

        </div>


    </div>
</div>

<app-confirmacao-modal [open]="openModalConfirmacao" (confirmar)="confirmarExclusao($event)"></app-confirmacao-modal>