<div class="section">

    <div class="row">


        <div class="col s12">
            <div class="row">
                <div class="col s12">
                    <h5>Agenda</h5>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <a class="btn orange darken-3" routerLink="/pedidos">Voltar</a>
            </div>
        </div>

        <div class="row">
            <div class="input-field col m6 s12">
                <i class="material-icons prefix">calendar_today</i>
                <input id="data" type="text" class="datepicker">
                <label for="data">Data</label>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <p>{{ pedidosFesta.length ? 'Pedidos de Festa' : 'Não há pedidos de festa para este dia' }}</p>
                <div class="row">
                    <div *ngFor="let pedido of pedidosFesta" class="col s12">
                        <app-card-agenda [pedido]="pedido" [mostrarRestaurar]="true" (editPedido)="editPedido($event)"
                            (pagamento)="atualizaPedido($event)" [oneColumn]="false"
                            (restaurar)="restaurarPedido($event)" (deletePedido)="deletePedido($event)"
                            (imprimePedido)="imprimePedido($event)"></app-card-agenda>
                    </div>
                </div>

                <p>{{ pedidosComerciais.length ? 'Pedidos Comerciais' : 'Não há pedidos comerciais para este dia' }}</p>
                <div class="row">
                    <div *ngFor="let pedido of pedidosComerciais" class="col s12">
                        <app-card-agenda [pedido]="pedido" [mostrarRestaurar]="true" (editPedido)="editPedido($event)"
                            (pagamento)="atualizaPedido($event)" [oneColumn]="false"
                            (restaurar)="restaurarPedido($event)" (deletePedido)="deletePedido($event)"
                            (imprimePedido)="imprimePedido($event)"></app-card-agenda>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<app-senha-modal [open]="openModalSenha" (confirmar)="confirmarExclusao($event)"></app-senha-modal>