<!-- Modal Structure -->
<div id="modal-cliente" class="modal">
  <div class="modal-content">
    <h4>Novo Cliente</h4>

    <form [formGroup]="form" novalidate autocomplete="off">

      <div class="row">
        <div class="col m6 s12">



          <p>Dados Pessoais</p>

          <div class="row">
            <div class="input-field col s12">
              <input id="nome" type="text" formControlName="nome">
              <label for="nome">Nome</label>
              <app-validator-message controlName="Nome" [control]="form.get('nome')"></app-validator-message>
            </div>
          </div>

          <div class="row">
            <div class="input-field col m6 s12">
              <input id="telefone1" type="text" formControlName="fone1" mask="(00) 00009-0000">
              <label for="telefone1">Telefone 1</label>
              <app-validator-message controlName="Telefone 1" [control]="form.get('fone1')"></app-validator-message>
            </div>


            <div class="input-field col m6 s12">
              <input id="telefone2" type="text" formControlName="fone2" mask="(00) 00009-0000">
              <label for="telefone2">Telefone 2</label>
              <app-validator-message controlName="Telefone 2" [control]="form.get('fone2')"></app-validator-message>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <textarea id="observacoes" class="materialize-textarea" formControlName="observacoes"></textarea>
              <label for="observacoes">Observações</label>
              <app-validator-message controlName="Observações" [control]="form.get('observacoes')"></app-validator-message>
            </div>
          </div>

        </div>



        <div class="col m6 s12" formGroupName="endereco">
          <p>Endereço</p>

          <div class="row">
            <div class="input-field col s12">
              <input id="rua" type="text" formControlName="rua">
              <label for="rua">Rua</label>
              <app-validator-message controlName="Rua" [control]="form.get('endereco.rua')"></app-validator-message>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s8">
              <input id="bairro" type="text" formControlName="bairro">
              <label for="bairro">Bairro</label>
              <app-validator-message controlName="Bairro" [control]="form.get('endereco.bairro')"></app-validator-message>
            </div>

            <div class="input-field col s4">
              <input id="numero" type="number" formControlName="numero">
              <label for="numero">Número</label>
              <app-validator-message controlName="Número" [control]="form.get('endereco.numero')"></app-validator-message>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s8">
              <input id="cidade" type="text" formControlName="cidade">
              <label for="cidade" class="active">Cidade</label>
              <app-validator-message controlName="Cidade" [control]="form.get('endereco.cidade')"></app-validator-message>
            </div>

            <div class="input-field col s4">
              <input id="estado" type="text" formControlName="uf">
              <label for="estado" class="active">Estado</label>
              <app-validator-message controlName="Estado" [control]="form.get('endereco.uf')"></app-validator-message>
            </div>
          </div>

        </div>



      </div>

    </form>
  </div>

  <div class="modal-footer">
    <button class="modal-close waves-effect waves-green btn-flat blue-text text-darken-2" [class.disabled]="form.invalid" (click)="salvar()">Salvar</button>
  </div>
</div>