.card-panel {
    padding: 0;
}

.card-title {
    width: 100%;
    padding: 15px;
    text-align: center;
}

.card-content {
    padding: 24px;
}

.btn {
    width: 100%;
}

#btn-cadastrar-senha:hover {
    background: initial;
}

input[type=number] {
    -webkit-text-security: disc;
}