<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="interval" value="60"/>
      <add key="cmd" value="/C mongodump --archive --db sirius -h kamino.mongodb.umbler.com --port 43760 -u sirius -p [jZ[*2cdZ.4I  | mongorestore --archive --nsInclude 'sirius.*' --drop"/>
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>