<div class="card horizontal">
  <!-- <div class="card-image">
    <img class="circle responsive-img" src="assets/img/fast_food.png">
  </div> -->

  <div class="card-stacked">
    <div class="card-content">
      <a (click)="favorite()" *ngIf="showFavoriteButton">
        <i class="material-icons right" style="color: yellowgreen; cursor: pointer;">{{ popular() }}</i>
      </a>
      <a class="card-title activator grey-text text-darken-4">{{ item.nome }}</a>
      R$ {{ item.valor | number:'1.2-2' }} {{ item.unidade.sigla }}
      <br>
      <small class="description" *ngIf="item.detalhes">
        <span>{{ item.detalhes }}</span>
      </small>
      <span class="new badge m-t-s" [ngClass]="classReserva()" *ngIf="item.reserva !== null && item.reserva !== undefined"
        data-badge-caption="em reserva">{{ item.reserva }}</span>
    </div>
    <div *ngIf="showAddOption && item.reserva != null && item.quantidade > item.reserva" class="aviso-reserva">
      <small class="red-text">Excede a quantidade em reserva!</small>
    </div>
    <div class="card-action" [class.left]="showAddOption">
      <div *ngIf="showAddOption">
        <div class="input-field inline m-r-m">
          <input type="number" [id]="'qtda' + i" [(ngModel)]="item.quantidade" (keyup.enter)="addItem()" placeholder="Qtda.">
        </div>
        <a (click)="addItem()" [class.disabled]="item.quantidade < 0 || item.quantidade > item.reserva" class="btn-floating btn-small waves-effect waves-light primary-color">
          <i class="material-icons">add</i>
        </a>

      </div>

      <div *ngIf="showEditOption">

        <button class="btn-flat blue-text text-darken-2 waves-effect m-r-m" (click)="edit()">
          Editar
        </button>
        <button class="btn-flat red-text text-darken-2 waves-effect" (click)="delete()">
          Excluir
        </button>
      </div>
    </div>
  </div>

</div>