.input-field.inline {
    display: inline-block;
    max-width: 100px;
}

h6 {
    margin: 0 0 .3rem 0;
}

.card-content {
    padding: 24px;
}

.card-action {
    padding: 15px 15px 24px 24px;
}

.card-action .input-field {
    margin-bottom: 0;
    margin-top: 0;
}

span.badge {
    margin-left: 0;
    position: relative;
    float: right;

}

.reserva-excedida .aviso-reserva,
.reserva-excedida input {
    color: red;
}

.aviso-reserva {
    position: relative;
    top: -10px;
}

.card-action input {
    max-width: 149px;
}

.card-action .qtda-item span.badge {
    position: inherit;
    min-height: 2rem;
    line-height: 26px;
    font-weight: 400;
    font-size: 13px;
}

button.qtda-item {
    float: right;
    padding: 0;
    border: 0;
    margin: 0 4px;
}