.input-field.inline {
    display: inline-block;
    max-width: 100px;
}

h6 {
    margin: 0 0 .3rem 0;
}

.card-content {
    padding: 15px 15px 24px 15px;
    margin-bottom: 75px;
}

.card-action {
    padding: 15px;
}

.card-action .input-field {
    margin-bottom: 0;
    margin-top: 0;
}

.card-action .input-field input {
    margin-bottom: 0;
}

.description {
    display: grid;
    margin-right: 100px;
}

span.badge {
    margin-left: 0;
    bottom: 89px;
    position: absolute;
    right: 24px;
}

.aviso-reserva {
    position: absolute;
    bottom: 58px;
    left: 24px;
}

.card-action span.badge {
    position: inherit;
    min-height: 1.8rem;
    line-height: 26px;
    font-weight: 400;
    font-size: 13px;
}

button.qtda-item {
    float: right;
    padding: 0;
    border: 0;
    margin: 0 4px;
}